<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917385601184-5h7pkgap7etssj67qp47oju2jrdhj9aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917385601184-5h7pkgap7etssj67qp47oju2jrdhj9aj</string>
	<key>API_KEY</key>
	<string>AIzaSyBPC6WSbM2RYEBQKwwCT3wi3fgCJiPdw8k</string>
	<key>GCM_SENDER_ID</key>
	<string>917385601184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ditontonFlutter</string>
	<key>PROJECT_ID</key>
	<string>ditonton-23e10</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-23e10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917385601184:ios:e79e0037d8336b8920e9c5</string>
</dict>
</plist>